.container {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(2, 50px);    
    gap: 10px;                             
  }
  
  .item {
    background-color: lightblue;
    border: 1px solid rgb(28, 139, 0);
    padding: 10px;
    text-align: center;